body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #016f32;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    color:black;
    font-weight: bold;
    font-family: 'Akronim', cursive;
}
#container{
    border: 2px solid lightblue;
    display: block;
    width: 50%;
    border-width: 5px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;

}

h1{
    color: goldenrod;
   
}

#message-el{
    color:lightblue;
}
button{
    color: #016f32;
    width: 200px;
    background:lightblue;
    padding-top: 10px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: medium;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
    border: red solid 2px;
    border-radius: 10px;
}
#Restart{
    padding-top: 5px;
}


